<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"/>
</head>
<body>
<th:block th:include="fragments/navbar :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 mx-auto">

            <a href="#" class="btn btn-secondary"
               th:href="@{__${T(br.com.pedrofrohmut.shareposts3.util.RequestMappings).POST_INDEX}__}">
                   <i class="fa fa-arrow-left"></i> Back
            </a>

            <div class="card-body">
                <h4 class="card-title" th:text="${postShow.title}">Post Title</h4>

                <p class="text-secondary font-weight-light"
                   th:text="|Written by ${postShow.user.name} on ${postShow.createdAt}|">
                    Written by {User Name} on {Post: Created At}
                </p>

                <p class="card-text pt-2 pb-4 text-justify" th:text="${postShow.body}">Post Body</p>

                <div th:if="${postShow.user.id == session.sessionUserLoggedIn.id}">
                    <form action="#" method="GET" class="pull-left"
                          th:action="@{|__${T(br.com.pedrofrohmut.shareposts3.util.RequestMappings).POST_EDIT}__/${postShow.id}|}">

                        <button type="submit" class="btn btn-secondary">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </form>

                    <form action="#" method="post" class="pull-right"
                          th:action="@{__${T(br.com.pedrofrohmut.shareposts3.util.RequestMappings).POST_DELETE}__}">

                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer :: footer"/>
</body>
</html>
