<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header-messages">

<!-- TODO: Create several types of messages. Example: INFO, DEBUG, WARN, ERROR .. -->

<!-- Default Messages -->
<div class="alert alert-success alert-dismissible"
     th:if="${not #strings.isEmpty(__${T(br.com.pedrofrohmut.shareposts3.util.ModelAttributes).MESSAGE}__)}">

    <button class="close" data-dismiss="alert">&times;</button>

    <span th:text="${__${T(br.com.pedrofrohmut.shareposts3.util.ModelAttributes).MESSAGE}__}">
        Success Message
    </span>
</div>

<!-- Error Messages -->
<div class="alert alert-danger alert-dismissible"
     th:if="${not #strings.isEmpty(__${T(br.com.pedrofrohmut.shareposts3.util.ModelAttributes).ERROR_MESSAGE}__)}">

    <button class="close" data-dismiss="alert">&times;</button>

    <span th:text="${__${T(br.com.pedrofrohmut.shareposts3.util.ModelAttributes).ERROR_MESSAGE}__}">
        Error Message
    </span>
</div>

</body>
</html>