<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"/>
</head>
<body>
<th:block th:include="fragments/navbar :: navbar"/>

<div class="container">
    <div class="alert alert-success"
         th:text="${__${T(br.com.pedrofrohmut.shareposts3.util.AttributeNames).MESSAGE}__}"
         th:if="${not #strings.isEmpty(message)}"/>

    <h1 class="display-1 text-center">Success!!!</h1>
</div>

<th:block th:include="fragments/footer :: footer"/>
</body>
</html>
