:root {
	font-size: 16px;
}

body {
    min-height: 100vh;
    padding-bottom: 40px;
    display: block;
    position: relative;
    padding-bottom: 106px;
}

nav.navbar {
	border-radius: 0;
	margin-bottom: 70px;
}

textarea {
	overflow: auto;
	resize: none;
}

p {
	margin: 0;
}

footer#footer {
    background-color: #343a40;
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: 0;
}

footer#footer p {
    display: block;
    text-align: center;
    margin: 10px auto 0;
    color: #999;
}

.error-message {
    width: 100%;
    margin-top: .85rem;
    font-size: 80%;
    color: #dc3545;
}

@media(max-width:992px) {
    :root {
        
    }
}

@media(max-width:768px) {
    :root {
        
    }
}

@media(max-width:480px) {
    :root {
        
    }
}